<%- include('../includes/head.ejs') %> <%- include('../includes/heading.ejs') %>
<%- include('../includes/navigation.ejs') %>
<!------------------------------------------------>
<div class="container">
  <div class="centered">
    <div class="h-100 card">
      <h2 class="card-header">Admin Page</h2>
      <div class="card-body">
        <a class="nav-link" href="/admin/products">لیست کامل محصولات</a>
        <a class="nav-link" href="/admin/add-product">اضافه کردن محصول جدید</a>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------>
<%- include('../includes/end.ejs') %>
