<%- include('../includes/head.ejs') %> <%- include('../includes/heading.ejs') %>
<%- include('../includes/navigation.ejs') %>
<!------------------------------------------------>
<div>Admin Page</div>
<a class="nav-link" href="/admin/products">لیست کامل محصولات</a>
<a class="nav-link" href="/admin/add-product">اضافه کردن محصول جدید</a>
<!------------------------------------------------>
<%- include('../includes/end.ejs') %>
